.homeBg {
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('../Assets/image/h1.jpg');
}

.blurImg {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: -20px 20px 20px #bebebe,
        20px -20px 20px #ffffff;
}
